{% extends 'python_institute/base.html' %}

{% block content %}
<div class='home-inner'>
    <div class =  'introduction'>
        <div>This free resource generates random practise questions for Python Institute certifications.</div>
        
        <div>Features:</div>
        <ul>
            <li>Unlimited sessions</li>
            <li>Instant feedback</li>
            <li>Practise specific modules</li>
            <li>No signup or login</li>
            <li>New questions added daily</li>
        </ul>
    </div>
    </div>
    <hr>
    <h3>Select a test (opens in a new tab)</h3>

    <div class = 'module-container'>
        
        <a class='module-button' href='./pcep' target="_blank">
            <div class = 'module inactive'>PCEP</div>
        </a>

        <a class='module-button' href="./pcap" target="_blank">
            <div class = 'module inactive'>PCAP</div>
        </a>

        <a class='module-button' href="./pcpp1" target="_blank">
            <div class = 'module active'>PCPP1<br>Certified Professional in Python Programming 1</div>
        </a>

        <a class='module-button' href="./pcpp2" target="_blank">
            <div class = 'module inactive'>PCPP2<br>Certified Professional in Python Programming 2</div>
        </a>

        <a class='module-button' href="./pcat" target="_blank">
            <div class = 'module inactive'>PCAT</div>
        </a>
    </div>
</div>
{% endblock %}