{% extends 'python_institute/base.html' %}

{% block content %}
<div class='home-inner'>
    <h1>Python Institute Certification Practise</h1>
    <div>        
        <h2>PCEP | 
            PCAP | 
            <a class = 'active' alt = 'Certified Professional in Python Programming 1' href = '' >PPCP1</a> | 
            PPCP2
        </h2>
    </div>
    <div class =  'introduction'>
        <div>This resource provides practise questions for python institute exams.</div>
        <div>Features:</div>
        <ul>
            <li>Full, timed tests</li>
            <li>Practise individual modules for each certification</li>
            <li>Unlimited free practise</li>
            <li>Instant feedback</li>
            <li>Speed and accuracy feedback</li>
        </ul>
    </div>

    <div class = 'module-container'>
        
        <a class='module-button' href='./random' target="_blank">
            <div class = 'module active'>Random</div>
        </a>

        <a class='module-button' href="./p11" target="_blank">
            <div class = 'module active'>Module 1:<br>Advanced OOP</div>
        </a>

        <a class='module-button' href="./p12" target="_blank">
            <div class = 'module active'>Module 2:<br>Python Enhancement Proposals</div>
        </a>

        <a class='module-button' href="./p13" target="_blank">
            <div class = 'module active'>Module 3:<br>Gui Programming</div>
        </a>

        <a class='module-button' href="./p14" target="_blank">
            <div class = 'module active'>Module 4:<br>Rest APIs</div>
        </a>

        <a class='module-button' href="./p15" target="_blank">
            <div class = 'module active'>Module 5:<br>Files and OS</div>
        </a>
    </div>
</div>


<!--{% endblock %}-->