<!--{% extends 'pythoncertifications/base.html' %}

{% block content %}-->
<div class='home-inner'>
    <h1>Python Institute Certification Practise</h1>
    <div>        
        <h2>PCEP | 
            PCAP | 
            <a class = 'active' alt = 'Certified Professional in Python Programming 1' href = '' >PPCP1</a> | 
            PPCP2
        </h2>
    </div>
    <div class =  'introduction'>
        <div>This resource provides practise questions for python institute exams.</div>
        <div>Features:</div>
        <ul>
            <li>Full, timed tests</li>
            <li>Practise individual modules for each certification</li>
            <li>Unlimited free practise</li>
            <li>Instant feedback</li>
            <li>Speed and accuracy feedback</li>
        </ul>
    </div>

    <div class = 'certification-container'>
        <div class = 'module-container'>
            <a href=''>Practise a whole test</a>
        </div>
        <div class = 'module-container'>
            <a href='pcpp1/random/'>Random</a>
        </div>
        <div class = 'module-container'>
            <a href='pcpp1/advanced_oop'>Advanced OOP</a>
        </div>
        <div class = 'module-container'>
            <a href=''>Python Enhancement Proposals</a>
        </div>
        <div class = 'module-container'>
            <a href=''>Gui Programming</a>
        </div>
        <div class = 'module-container'>
            <a href='pcpp1/rest_api'>Rest APIs</a>
        </div>
        <div class = 'module-container'>
            <a href='pcpp1/files_os'>Files and OS</a>
        </div>
    </div>
</div>


<!--{% endblock %}-->