{% extends 'ceh/base.html' %}

{% block content %}
<div class='home-inner'>
    <div class =  'introduction'>
        <div>This free resource generates random practise questions for the CEH exam.</div>
        
        <div>Features:</div>
        <ul>
            <li>Unlimited sessions</li>
            <li>Instant feedback</li>
            <li>Practise specific modules</li>
            <li>No signup or login</li>
        </ul>
    </div>
    </div>
    <hr>
    <h3>Select a module (opens in a new tab)</h3>

    <div class = 'module-container'>
        
        <a class='module-button' href='/ceh/introduction_to_ethical_hacking' target="_blank">
            <div class = 'module active'>Module 1:<br>Introduction to Ethical Hacking</div>
        </a>

        <a class='module-button' href='/ceh/footprinting_and_reconnaisance' target="_blank">
            <div class = 'module active'>Module 2:<br>Footprinting and Reconnaisance</div>
        </a>

        <a class='module-button' href='/ceh/scanning_networks' target="_blank">
            <div class = 'module active'>Module 3:<br>Scanning Networks</div>
        </a>

        <a class='module-button' href='/ceh/iot' target="_blank">
            <div class = 'module active'>Module 18:<br>Internet of Things</div>
        </a>

    </div>
</div>


{% endblock %}