{% extends 'cismp/base.html' %}

{% block content %}

<script>
    //Cookies dealing with time
    console.log(getCookie("time"));
    var start = Date.now()
    
    if (getCookie("time") != ''){//if cookie for timing exists
        var sec = Number(getCookie('time'));//use that as value from which to count up
    } else {
        var sec = 0;//start from zero
    }
    
    //Cookies dealing with scores
    if (getCookie("correct") != ''){//if cookie exists
        var correct = Number(getCookie('correct'));//use that as value from which to count up
    } else {
        var correct = 0;//start from zero
    }
    
    if (getCookie("total") != ''){//if cookie exists
        var total = Number(getCookie('total'));//use that as value from which to count up
    } else {
        var total = 0;//start from zero
    }
    
    var percentage = correct / total * 100;
    var time = sec;
    
    //var sec = 0;
        function pad ( val ) { return val > 9 ? val : "0" + val; }
        setInterval( function(){
            document.getElementById("seconds").innerHTML=pad(++sec%60);
            document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));
        }, 1000);
    
    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    </script>

<div class = 'qtop'>
    <div class='stats-grid'>
        <div class='reset' onclick=reset()>Reset stats</div>
        <div class = 'timer'>
            <span id="minutes"></span>:<span id="seconds"></span>
        </div>
        <div class='stats-item'>
            <div class = 'ratio'>
                <span id="correct"></span>/<span id="total"></span> correct
            </div>
        </div>
        <div class='stats-item'>
            <div class = 'percent'>
                <span id="percent"></span> %
            </div>
        </div>
        <div class='stats-item'>
            <div class = 'speed'>
                <span id="speed"></span> seconds / mark
            </div>
        </div>
    </div>
</div>
<div class = 'qbottom'>
    <div class = 'qleft'>
        <div class='text'>{{question}}</div>
        {% if code != None %}
        <div class = 'code-container'>
            <pre class="prettyprint">{{code}}</pre>
        </div>
        {% endif %}
        <div class = 'help-links'>
            <div class='text'>Dropped a mark? Read up on:</div>
            <div class='text'><a href = "https://duckduckgo.com/?q={{key_link}}" target = '_blank'>{{key}}</a></div>
            <!--
                <div class='text'>Dropped a mark? Read up on:</div>
            <ul>
                <li><a href = "https://duckduckgo.com/?q={{key_link}}" target = '_blank'>{{key}}</a></li>
                
                {% for item in item_links %}
                <li><a href = "https://duckduckgo.com/?q={{item.link}}" target = '_blank'>{{item.text}}</a></li>
                {% endfor %}
                
            </ul>
            <div class='text'>(All links open in a new tab)</div>
            -->
        </div>

    </div>
    <div class = 'qright'>
        {% for item in items %}
    
        <div class='qitem {{item.indicator}}' id='{{item.id}}' onclick = "increment_click('{{item.indicator}}','{{item.id}}')">
            <div class="dot" id = '{{item.id}}dot'></div>
            {% if item.item != None %}
            <div class='text'>{{item.item}}</div>
            {% endif %}
            {% if item.code != None %}
            <div class = 'code-container'>
                <pre class="prettyprint">{{item.code}}</pre>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        
        <div class='button-div'>
            <div class='next-question-wrapper'>
                <div class='next' onclick=next_question()>Next Question</div>
            </div>
        </div>
        
    </div>

    
</div>

<script>
try{
    document.getElementById('correct').innerHTML = correct.toString();
} catch(err){
    document.getElementById('correct').innerHTML = '0';
}
try{
    document.getElementById('total').innerHTML = total.toString();
} catch(err){
    document.getElementById('total').innerHTML = '0';
}
try{
    document.getElementById('speed').innerHTML = Math.round((time / correct)*10)/10;
} catch(err){
    document.getElementById('speed').innerHTML = '0';
}
try{
    document.getElementById('percent').innerHTML = Math.round(correct/total*100)
} catch(err){
    document.getElementById('percent').innerHTML = '0';
}


var clicks = 0;
function increment_click(indicator, id) {
    clicks = clicks + 1;
    if (clicks == 1) {
        document.getElementsByClassName('next-question-wrapper')[0].style.display = "block";
        question_end(indicator, id);
    }
}

function question_end(indicator, id){
    total = total + 1
    document.cookie = "total=" + total.toString();
    if (indicator == 'correct'){
        correct = correct + 1
        document.cookie = "correct=" + correct.toString();
        document.getElementById(id).style.background='lightgreen';
        document.getElementById(id + 'dot').style.background='green';
    }else{
        document.cookie = "correct=" + correct.toString();
        document.getElementById(id).style.background='pink';
        document.getElementById(id + 'dot').style.background='red';
        document.getElementsByClassName('help-links')[0].style.display = "block";
        document.getElementsByClassName('correct')[0].style.background='lightgreen';
        
    }
    document.getElementById('correct').innerHTML = correct.toString();
    document.getElementById('total').innerHTML = total.toString();
    document.getElementById('percent').innerHTML = Math.round(correct/total*100)
    time = sec;
    document.getElementById('speed').innerHTML = Math.round((time / correct)*10)/10;
}


function make_green(id){
    document.getElementById(id).style.background='lightgreen';
}

function make_red(id){
    document.getElementById(id).style.background='pink';
}
 
function reset(){
    document.getElementById('seconds').innerHTML = 0;
    document.getElementById('minutes').innerHTML = 0;
    document.getElementById('correct').innerHTML = 0;
    document.getElementById('total').innerHTML = 0;
    document.getElementById('speed').innerHTML = 0;
    document.getElementById('speed').innerHTML = 0;
    document.cookie = "time=0";
    document.cookie = "total=0";
    document.cookie = "correct=0";
    location.reload();
}

function next_question(){
    //set timer cookie with current time
    console.log('Just an int...');
    var end = Date.now();
    var total = Math.floor((end-start)/1000);
    var str_sec = sec.toString();
    var cookie_str = "time=" + str_sec;
    document.cookie = cookie_str;
    location.reload();
    }

</script>

{% endblock %}